parameters:
    debug: false
    db:
        dsn: "mysql:host=db;dbname=village-permissions"
        user: root
        password: root

php:
    date.timezone: Europe/Prague

database:
    dsn: %db.dsn%
    user: %db.user%
    password: %db.password%
    options:
        lazy: true
    debugger: false

services:
    - Silex\Application
    - VillageProject\Router
    - VillageProject\Model\Facade\PermissionFacade
    - VillageProject\Model\Repository\PermissionRestrictionRepository
    - VillageProject\Model\Repository\VillageRepository
    - VillageProject\Handler\GetVillagesHandler
    - VillageProject\Handler\PostPermissionsForAdminUserHandler